audio {
  width: 100%;
  margin: 0 auto;
  border-radius: 90px;
  transform: scale(1.05);
  padding: 0 30px;
  background: transparent !important;
  color: var(--pink) !important;
  outline: none !important;
  border: none;
}
.current-track-name{
  position : absolute;
  z-index: 5;
  font-size: 15px;
  margin-bottom: 1rem;
  left: 10%;
  color: rgb(255, 0, 0);
}
#now-playing {
  box-shadow: none !important;
}