.track, td {
  cursor: pointer;
  height: 50px;
  font-weight: bold;
}
 .table-elements:hover{
  background-color:#72727d;
  color: black;
 }

.track-title {
  font-size: 16px !important;
  color: var(--darkPink);
  margin-bottom: 0;
}

.track.col-4{
  flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
@media(max-width : 600px){
  .track.col-4{
    flex: 0 0 100%;
    max-width: 100%;
  }
}