/* .jumbotron-fluid {
  background: #fff;
} */
.album-item {
  cursor: pointer;
  background-repeat: no-repeat !important;
  background-size: cover cover !important;
  background-position: center !important;
  height: 200px;
  width: 100%;
  margin: 0 auto;
}
input {
  margin-top: 0.7rem;
  height: 40px;
  width: 250px;
  border-radius: 50px;
  border-style: 0.5px solid grey;
  padding-left: 0.5rem;
}

.empty {
  font-size: 25px;
  margin-top: 10px;
  color: rgb(255, 0, 0);
}

.header-container{
  position : absolute;
  right: 0;
  width: 82%;
}
.mobile-header {
  display: none;
}
 .album-container{
  flex: auto;
  max-width: 16.667%;
} 
.album-header{
  margin-top: 10px;
}
@media(max-width : 600px){
  .album-item{
  width: 200px;
  }
  .album-header{
    margin-top: 4rem;
  }
  .header-container {
    /* right: -30px; */
    width: 85%;
    margin: auto 2rem;
  }
  #header{
    display: none;
  }
  .mobile-header{
    position: relative;
    /* box-shadow: 1px 1px 10px #7f7f7f, -1px -1px 10px #b3b3b3;; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    justify-content: center;
  }
   .album-container{
    flex: auto;
    max-width: none;
  } 
}