/* #sidebar {
  height: 100vh;
 
  left: 0;
  top: 0;
  bottom: 0;
  
  color: var(--light);
  overflow-y: scroll;
} */
html{
  position: relative;
}
#weekly{
  margin-right: 0 !important ;
}
.sidebar-heading {
  font-weight: 700;
  font-size: 13px;
}
.nav-link {
  padding: 0;
  margin: 15px 0;
  font-weight: 500;
}
#playlists {
  position: relative;
}

.add-btn {
  position: absolute;
  top: -10px;
  right: 0;
  background: var(--pink);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.25);
}
.add-btn:hover {
  opacity: 0.9;
}

#active-nav {
  color: var(--pink) !important;
}
.custom-menu{
  display: none;
}
.side{
  display: block;
  background: white;
  width: 17%;
}
@media(max-width : 900px){
  .custom-menu {
    display: block;
    position: absolute;
    top: 1%;
    right: -490%;
    z-index: 5;
    cursor: pointer;
  }
  #side{
    margin-left: -20px;
    background: white;
    padding: 1rem
  }
  .side{
    position: absolute;
    margin-left: -255px;
    z-index: 8;
    width: auto;
  }
  .mobile__body{
    max-width: 100% !important;
    flex: 0 0 100%
  }
}
