.main-heading {
  font-size: 25px;
  font-weight: 700;
}
.track-image {
  width: 100%;
  border-radius: 16px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #7f7f7f, -1px -1px 10px #b3b3b3;
}
.track-name {
  font-size: 14px;
  font-weight: 600;
}
.track-card.col-2{
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  cursor: pointer;
}
@media(max-width : 600px){
  .track-card.col-2{
    flex: none;
    width: 31%;
    max-width: none;
  }
}