.track-title {
  font-size: 14px;
  font-weight: 600;
}
.track {
  cursor: pointer;
}
.blackButton{
  color: white;
}

.whiteButton{
  color: red;
}
.track-search{
  justify-content: space-between;
}
.track-search input{
  width: 98%;
}
.track-search div{
  width: 50%;
}
@media(max-width : 600px){
  .track-item{
    width: 100%;
    flex: 0 0 100%;
  max-width : 100%;
  padding-right: 0;
  padding-left: 0;
  }
.section-container{
  padding: 0 !important;
  margin: 0 !important;
}
.track {
  padding-left: .5rem;
}
.track-search{
  flex-direction: column;
  align-items: flex-start;padding: 0 1rem !important;
}
.track-search div{
  width: 100%;

  
}
.track-search input{
  width: 100%;
}

}

