.track-title {
  font-size: 14px;
  font-weight: 600;
}
.track {
  cursor: pointer;
}
.blackButton{
  color: white;
}

.whiteButton{
  color: red;
}
@media(max-width : 600px){
  .track-item{
    width: 100%;
    flex: 0 0 100%;
  max-width : 100%;
  padding-right: 0;
  padding-left: 0;
  }
.section-container{
  padding: 0 !important;
  margin: 0 !important;
}
.track {
  padding-left: .5rem;
}
}

