:root {
  --pink: #f10044;
  --darkPink: #da0b45;
  --purple: #6a2c70;
  --black: #1b262c;
  --light: #525252;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  /* background: rgb(221, 221, 221); */
  background-color: #282c34 !important;
  color: white;
}


a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: none;
  color: var(--black);
}


.main-heading {
  font-size: 26px;
  font-weight: 600;
}
