.recently-played{
    color: white;
}
.recently-played table{
  color: inherit;
}
.last{
    display: table-cell;
}
.remove{
    display: none !important;
}
@media(max-width : 475px){
    .last{
        display: none !important;
    }
}